<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="http://www.hole-in-1.com.au/favicon.ico" />

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <link rel="stylesheet" href="/linker/styles/datatables-bootstrap.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
      window.digital8 = { csrf: "<%= _csrf %>", admin: "<%= session.authenticated && session.User.admin %>" };
    </script>

    <!-- The sound file that will play on activity events -->
    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> Hole in One</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Leaderboard </a> </li>
            <!--<li><a href="/putting">Putting Comp</a> </li>-->
            <li><a href="/prizes">Prizes </a> </li>
            <li><a href="/terms">Terms </a> </li>
            <li><a href="/register/new">Register </a> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (session.authenticated) { %>
              <% if (session.User.admin) { %>
                <li><a href="/user">Users</a></li>
              <% } %>
              <li><a href="/register">Registrations </a> </li>
              <a class="btn btn-default navbar-btn navbar-right" href="/session/destroy">Log Out</a>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    
    <%- body %>

    <div class="container">
      <hr>
      <footer class="footer pull-right">
        <div>
          <a href="http://www.mobileappsaus.com/" target="_blank">Mobile Apps Australia</a>
        </div>
      </footer>
    </div>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/jquery.dataTables.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/customValidate.js"></script>
    <script src="/linker/js/datatables-bootstrap.js"></script>
    <script src="/linker/js/regoTable.js"></script>
    <script src="/linker/js/shotTable.js"></script>
    <script src="/linker/js/underscore.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
