<form action="/putt/create" method="POST" class="form-signin">
	<h2 class="form-signin-heading">Add a new Putt</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert-danger">
			<% Object.keys(flash.err).forEach(function(error) { %>
				<li><%- JSON.stringify(flash.err[error]).replace(/[{}]/g, '') %></li>
			<% }) %>
		</ul>
	<% } %>

	<input type="text" class="form-control" placeholder="First Name" name="first_name">
	<input type="text" class="form-control" placeholder="Last Name" name="last_name">
	<input type="text" class="form-control" placeholder="Shots" name="shots">
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Add Putt"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

</form>