<div class="container">
	<h1>Terms and Conditions</h2>

	<br />

	<h3>Young Care - PUTTING Competition - Conditions of Entry</h3>
	<ol>
		<li>Entry fee is $5 per person</li>
		<li>Entrants must download the Standby Golf App or have registered on the Standby Golf website</li>
		<li>Each entrant is entitled to a total of 5 shots per entry</li>
		<li>Entrant is to take 1 shot at each allocated marker</li>
		<li>The entrants score is the combined total of successful putts</li>
		<li>The winner is the entrant with the highest score (most number of successful putts) at the end of the competition</li>
		<li>In the event of two or more entrants finishing on the same score, there will be a playoff on Sunday afternoon at 2pm which will involve another round of putts. the Competitor on the highest score will be the winner. If the competition is still tied, the players will go into a sudden death "Putt Off"</li>
		<li>Total prize money is $500.00</li>
		<li>All entrants must comply with instructions given by Standby Golf staff and its representatives</li>
	</ol>

	<hr />

	<h3>Standby Golf - Hole-In-1 Competition - Conditions of Entry</h3>
	<ol>
		<li>Entry fee is $5 per person</li>
		<li>Entrant is entitled to 2 shots per entry</li>
		<li>Entry is open to anybody but only entrants aged 18 years or older will be eligible to compete in the $500,000 shoot out</li>
		<li>Only amatuer entrants or people with no handicap are eligible for prizes or prize money</li>
		<li>Closest 50 shots Win a prize and qualify to shoot for the $500,000 on Sunday afternoon at 3pm</li>
		<li>The entrant's score is the total distance from the pin and will be updated to www.hole-in-1.com.au every 10mins</li>
		<li>Entrants that qualify for the $500k shoot out will be notified by email and text at 2pm on Sunday 10th November. The shoot out will commence at 3pm on Sunday 10th November</li>
		<li>Every entrant will be entitled to one shot at the $500k and if more than one entrant successfully cups their shot, the prize money will be split between the successful competitors</li>
		<li>If an entrant or entrants is/are  successful in achieving a Hole-In-1, Standby Golf will deduct 10% of the prize money as a proceed donation towards the Event's Charity Sponsor</li>
		<li>All entrants must comply with any instructions given by Standby Golf staff and its representatives</li>
	</ol>

</div>